* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

canvas {
    border: 1px solid black;
    position: relative;
}

header {
    background-color: orange;
    height: 100px;
}

img {
    width: 200px;
}

.edit-side {
    position: relative;
    width: 500px;
    height: 500px;
}

.container-text div {
    height: 30px;
    width: 300px;
    /* background: blue; */
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50%;
    border: 1px black solid;
}

.control-box img {
    width: 20px;
}

.flex {
    display: flex;
}