* {
    box-sizing: border-box;
}

html {
    font-family: montserrat-regular, serif;
    color: var(--clr1);

}

body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;

}

.main-screen {
    cursor: pointer;
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}

body.menu-open .main-screen.menu-background {
    pointer-events: auto;
    opacity: 1;
}

body.menu-open {
    overflow-y: hidden;
}

main {
    background-color: var(--clr4);
    flex-grow: 1;
}

canvas {
    /* border: 1px solid black; */
    border-radius: 30px;
    
}

.canvas-container {
    position: relative;
    margin-block: 50px;
    overflow: hidden;
}

.text-input {
    padding: 15px;
    font-size: 18px;
    border-width: 0px;
    border-color: #0d0f11;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: -1px 0px 5px rgba(66, 66, 66, .75);
}

.text-input:focus {
    outline: none;
}