.main-footer {
    background-color: var(--clr3);
    height: 100px;
    width: 100%;
}

.main-footer img {
    width: 133px;
    height: 22px;
    margin: auto;
}

.main-footer small {
    font-size: 1rem;
    font-family: montserrat-thin;
    margin: auto;
}