
header {
    background-color: var(--clr3);
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
}

header > * {
    grid-column: 2;
}

.main-header .logo img {
    height: 22px;
    width: 133px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    color: var(--color-bright);
    margin: 0;
    padding: 0;
    top: 65px;
    z-index: 10;

}

header ul>li {
    border-inline-end: 1px solid #1c1c1c;
    /* margin-inline-end: 30px; */
}

header ul>li:first-child {
    border-inline-start: 1px solid #1c1c1c;
    /* margin-inline: 30px; */
}

header ul>li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 80px;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.4s;
}

header ul>li a:hover {
    box-shadow: inset 0px -6px 0 var(--clr2);
}

