/* .main-header {
    background-color: var(--clr3);
    margin-block-end: 20px;
    position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

.main-header .logo img {
    height: 22px;
    width: 133px;
}

.main-header .main-nav a {
    text-decoration: none;
    color: white;
    margin-inline-start: 30px;
}

.main-header .main-nav a:hover {
    text-decoration: none;
    color: var(--clr2);
    border-block-end: 3px solid var(--clr2);
}

.main-header .main-nav-container ul>li {
    border-inline-end: 1px solid var(--clr1);
    padding-inline: 5px;
    position: relative;
    height: 65px;
}

.main-header .logo {
    margin-inline: 50px;
}

.main-header ul > li a:hover {
	box-shadow: inset 0px -6px 0 var(--color-selected);
} */

header {
    background-color: var(--clr3);
    width: 100%;
}

.main-header .logo img {
    height: 22px;
    width: 133px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

header .main-nav {
    display: flex;
    justify-content: space-between;
    color: var(--color-bright);
    margin: 0;
    padding: 0;
    top: var(--header-height);
}

header ul>li {
    border-inline-end: 1px solid #1c1c1c;
    /* margin-inline-end: 30px; */
}

header ul>li:first-child {
    border-inline-start: 1px solid #1c1c1c;
    /* margin-inline: 30px; */
}

header ul>li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 80px;
    text-decoration: none;
    color: inherit;

    transition: box-shadow 0.4s;
}

header ul>li a:hover {
    box-shadow: inset 0px -6px 0 var(--clr2);
}