
.saved-meme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    color: black;
    /* font-size: 3rem; */
    text-align: center;
    
}


.card {
    position: relative;
    
}

.card .toolbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 8px;

}


.toolbar .icon {
    cursor: pointer;
    scale: 1.5;
    color: var(--clr3);
}

