.gallery section {
    justify-content: space-around;
    align-items: center;
}

section.filter {
    background-color: #ffffff;
    height: 110px;

}

section .popular-words {
    align-items: center;

}

section .popular-words ul {
    color: black;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .popular-words ul>li {
    margin-inline: 20px;
    cursor: pointer;
}

section button {
    background-color: var(--clr3);
    cursor: pointer;
    color: #ffffff;
    padding: 6px 24px;
    border-radius: 13px;
    border: 2px solid var(--clr1);
    font-size: 1.2rem;
    height: 40px;
    width: 150px;

}

section input::file-selector-button {
    background-color: var(--clr3);
    cursor: pointer;
    color: #ffffff;
    padding: 6px 24px;
    border-radius: 13px;
    border: 2px solid var(--clr1);
    font-size: 1.2rem;
    height: 40px;
    width: 150px;

}

.container-gallery-btn {
    /* padding-inline-start: 80px; */
}