:root {

    
	--grid-size: max-content;

    --layout-padding: 1.25rem;
    --site-width: max-content;

    --l: 980px;
    --m: 820px;
    --s: 600px;

    --clr1: #ffffff;
    --clr2: #040a2c;
    --clr3: #ff7f00;
    --clr4: #e3e3e3;
}